@import './reset', './variables';

body {
    font-family: "Smythe", sans-serif;
}

.container {
    max-width: 375px;
    margin: 0 auto;
}

.header {
    background-image: url('../assets/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: $bg-clr;
    margin: 0;
    padding: 2em;
    
    .main-heading {
        margin: 0;
    }

    .sub-heading {
        font-size: 1em;
    }
}

.main {
    padding: 1em 0.5em;

    .item_hr {
        border: none;
        border-top: .5px solid $secondary-clr;
        border-radius: 1px;
        opacity: .8;
    }
    
    .menu_item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2em 0;
        
        .item_content {
            display: flex;
            gap: 20px;
        }
        .item_text {
            font-size: .8rem;
            padding: .5em 0;
            color: $secondary-clr;
        }
        .icon {
            width: 50px;
        }

        .item_btn {
            border: 1px solid $secondary-clr;
            border-radius: 50%;
            padding: 1em;

            .fa-plus {
                font-size: 1em;
            }
        }

    }

    .order-section{
        text-align: center;
        padding: 2em 0;

        h4 {
            font-size: 1.2em;
        }

        .ordered-item {
            display: flex;
            justify-content: space-between;
            padding: 1em 0;

            .separator-solid {
                border: none;
                border-top: 2px solid green;
                
            }

            div {
                display: flex;
                gap: .5em;
                

                .remove-btn {
                    border: none;
                    background: none;
                    color: $secondary-clr;
                    font-family: 'Roboto', sans-serif;
                    font-size: .7em;
                    font-weight: 100;
                }
            }
            
        }

        .total-price-container{
            display: flex;
            justify-content: space-between;
            padding: 1em 0;
        }
    }
    .btn {
        background: $accent-clr;
        color: $light-font-clr;
        padding: .8em;
        border: none;
        border-radius: 3px;
        font-family: 'Roboto', sans-serif;
        font-size: .8em;
        font-weight: bold;
        width: 100%;
    }
}